<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.commoncore.persistence.jc.dao.JcDataDaoMapper">

    <!-- 对阵基列 -->
    <resultMap id="BaseResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.JczqDaoBO">
        <id column="id" property="id" jdbcType="DECIMAL"></id>
        <result column="lottery_code" property="lotteryCode" jdbcType="VARCHAR"/>
        <result column="issue_code" property="issueCode" jdbcType="VARCHAR"/>
        <result column="sport_match_info_id" property="sportMatchInfoId" jdbcType="DECIMAL"/>
        <result column="home_team_id" property="homeTeamId" jdbcType="DECIMAL"/>
        <result column="visiti_team_id" property="visitiTeamId" jdbcType="DECIMAL"/>
        <result column="match_analysis_url" property="matchAnalysisUrl" jdbcType="VARCHAR"/>
        <result column="match_info_url" property="matchInfoUrl" jdbcType="VARCHAR"/>
        <result column="is_recommend" property="isRecommend" jdbcType="DECIMAL"/>
        <result column="match_label_color" property="matchLabelColor" jdbcType="VARCHAR"/>
        <result column="official_match_code" property="officialMatchCode" jdbcType="VARCHAR"/>
        <result column="week" property="week" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
        <result column="system_code" property="systemCode" jdbcType="VARCHAR"/>
        <result column="match_status" property="matchStatus" jdbcType="DECIMAL"/>
        <result column="official_id" property="officialId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTimeStamp" jdbcType="TIMESTAMP"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="sale_end_time" property="saleEndTime" jdbcType="TIMESTAMP"/>
        <result column="sale_end_time" property="saleEndDate" jdbcType="TIMESTAMP"/>
        <result column="sale_end_time" property="saleEndTimeStamp" jdbcType="TIMESTAMP"/>
        <result column="is_neutral" property="isNeutral" jdbcType="DECIMAL"/>
        <result column="is_recommend" property="isRecommend" jdbcType="DECIMAL"/>
        <result column="stadium" property="stadium" jdbcType="VARCHAR"/>
        <result column="weather" property="weather" jdbcType="VARCHAR"/>
        <result column="season" property="season" jdbcType="VARCHAR"/>
        <result column="round" property="round" jdbcType="VARCHAR"/>
        <result column="gameweek" property="gameweek" jdbcType="VARCHAR"/>

        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="odds_win" property="oddsWin" jdbcType="DECIMAL"/>
        <result column="odds_draw" property="oddsDraw" jdbcType="DECIMAL"/>
        <result column="odds_fail" property="oddsFail" jdbcType="DECIMAL"/>
        <result column="match_full_name" property="matchFullName" jdbcType="VARCHAR"/>
        <result column="match_short_name" property="matchShortName" jdbcType="VARCHAR"/>
        <result column="match_data_url" property="matchDataUrl" jdbcType="VARCHAR"/>
        <result column="matchLogo" property="matchLogo" jdbcType="VARCHAR"/>
        <result column="homeFullName" property="homeFullName" jdbcType="VARCHAR"/>
        <result column="homeShortName" property="homeShortName" jdbcType="VARCHAR"/>
        <result column="homeDataUrl" property="homeDataUrl" jdbcType="VARCHAR"/>
        <result column="homeOrder" property="homeOrder" jdbcType="VARCHAR"/>
        <result column="homeLogo" property="homeLogo" jdbcType="VARCHAR"/>
        <result column="guestFullName" property="guestFullName" jdbcType="VARCHAR"/>
        <result column="guestShortName" property="guestShortName" jdbcType="VARCHAR"/>
        <result column="guestDataUrl" property="guestDataUrl" jdbcType="VARCHAR"/>
        <result column="guestOrder" property="guestOrder" jdbcType="VARCHAR"/>
        <result column="guestLogo" property="guestLogo" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 竞彩足球对阵 -->
    <resultMap id="JczqResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.JczqDaoBO" extends="BaseResultMap">
        <result column="sale_date" property="saleDate" jdbcType="VARCHAR"/>
        <result column="five_league" property="fiveLeague" jdbcType="DECIMAL"/>
        <result column="half_score" property="halfScore" jdbcType="VARCHAR"/>
        <result column="full_score" property="fullScore" jdbcType="VARCHAR"/>
        <result column="full_spf" property="fullSpf" jdbcType="VARCHAR"/>
        <result column="let_spf" property="letSpf" jdbcType="VARCHAR"/>
        <result column="score" property="scoreResult" jdbcType="VARCHAR"/>
        <result column="goal_num" property="goalNum" jdbcType="VARCHAR"/>
        <result column="hf_wdf" property="hfWdf" jdbcType="VARCHAR"/>
        <result column="status_wdf" property="statusWdf" jdbcType="DECIMAL"/>
        <result column="status_let_wdf" property="statusLetWdf" jdbcType="DECIMAL"/>
        <result column="status_goal" property="statusGoal" jdbcType="DECIMAL"/>
        <result column="status_hf_wdf" property="statusHfWdf" jdbcType="DECIMAL"/>
        <result column="status_score" property="statusScore" jdbcType="DECIMAL"/>
        <result column="newest_let_num" property="newestLetNum" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_win" property="newestLetSpWin" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_draw" property="newestLetSpDraw" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_fail" property="newestLetSpFail" jdbcType="DECIMAL"/>
        <result column="newest_sp_win" property="newestSpWin" jdbcType="DECIMAL"/>
        <result column="newest_sp_draw" property="newestSpDraw" jdbcType="DECIMAL"/>
        <result column="newest_sp_fail" property="newestSpFail" jdbcType="DECIMAL"/>

        <result column="newest_sp_0_goal" property="newestSp0Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_goal" property="newestSp1Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_goal" property="newestSp2Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_3_goal" property="newestSp3Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_4_goal" property="newestSp4Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_5_goal" property="newestSp5Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_6_goal" property="newestSp6Goal" jdbcType="DECIMAL"/>
        <result column="newest_sp_7_goal" property="newestSp7Goal" jdbcType="DECIMAL"/>

        <result column="newest_sp_w_w" property="newestSpWW" jdbcType="DECIMAL"/>
        <result column="newest_sp_w_d" property="newestSpWD" jdbcType="DECIMAL"/>
        <result column="newest_sp_w_f" property="newestSpWF" jdbcType="DECIMAL"/>
        <result column="newest_sp_d_w" property="newestSpDW" jdbcType="DECIMAL"/>
        <result column="newest_sp_d_d" property="newestSpDD" jdbcType="DECIMAL"/>
        <result column="newest_sp_d_f" property="newestSpDF" jdbcType="DECIMAL"/>
        <result column="newest_sp_f_w" property="newestSpFW" jdbcType="DECIMAL"/>
        <result column="newest_sp_f_d" property="newestSpFD" jdbcType="DECIMAL"/>
        <result column="newest_sp_f_f" property="newestSpFF" jdbcType="DECIMAL"/>

        <result column="newest_sp_1_0" property="newestSp10" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_0" property="newestSp20" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_1" property="newestSp21" jdbcType="DECIMAL"/>
        <result column="newest_sp_3_0" property="newestSp30" jdbcType="DECIMAL"/>
        <result column="newest_sp_3_1" property="newestSp31" jdbcType="DECIMAL"/>
        <result column="newest_sp_3_2" property="newestSp32" jdbcType="DECIMAL"/>
        <result column="newest_sp_4_0" property="newestSp40" jdbcType="DECIMAL"/>
        <result column="newest_sp_4_1" property="newestSp41" jdbcType="DECIMAL"/>
        <result column="newest_sp_4_2" property="newestSp42" jdbcType="DECIMAL"/>
        <result column="newest_sp_5_0" property="newestSp50" jdbcType="DECIMAL"/>
        <result column="newest_sp_5_1" property="newestSp51" jdbcType="DECIMAL"/>
        <result column="newest_sp_5_2" property="newestSp52" jdbcType="DECIMAL"/>
        <result column="newest_sp_w_other" property="newestSpWOther" jdbcType="DECIMAL"/>

        <result column="newest_sp_0_0" property="newestSp00" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_1" property="newestSp11" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_2" property="newestSp22" jdbcType="DECIMAL"/>
        <result column="newest_sp_3_3" property="newestSp33" jdbcType="DECIMAL"/>
        <result column="newest_sp_d_other" property="newestSpDOther" jdbcType="DECIMAL"/>

        <result column="newest_sp_0_1" property="newestSp01" jdbcType="DECIMAL"/>
        <result column="newest_sp_0_2" property="newestSp02" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_2" property="newestSp12" jdbcType="DECIMAL"/>
        <result column="newest_sp_0_3" property="newestSp03" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_3" property="newestSp13" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_3" property="newestSp23" jdbcType="DECIMAL"/>
        <result column="newest_sp_0_4" property="newestSp04" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_4" property="newestSp14" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_4" property="newestSp24" jdbcType="DECIMAL"/>
        <result column="newest_sp_0_5" property="newestSp05" jdbcType="DECIMAL"/>
        <result column="newest_sp_1_5" property="newestSp15" jdbcType="DECIMAL"/>
        <result column="newest_sp_2_5" property="newestSp25" jdbcType="DECIMAL"/>
        <result column="newest_sp_f_other" property="newestSpFOther" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 竞彩足球订单详情对阵 -->
    <resultMap id="JczqOrderResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.JczqOrderBO" extends="BaseResultMap">
        <result column="half_score" property="halfScore" jdbcType="VARCHAR"/>
        <result column="full_score" property="fullScore" jdbcType="VARCHAR"/>
        <result column="let_num" property="letNum" jdbcType="VARCHAR"/>
        <result column="full_spf" property="fullSpf" jdbcType="VARCHAR"/>
        <result column="let_spf" property="letSpf" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="VARCHAR"/>
        <result column="goal_num" property="goalNum" jdbcType="VARCHAR"/>
        <result column="hf_wdf" property="hfWdf" jdbcType="VARCHAR"/>
        <result column="status_wdf" property="statusWdf" jdbcType="DECIMAL"/>
        <result column="status_let_wdf" property="statusLetWdf" jdbcType="DECIMAL"/>
        <result column="status_goal" property="statusGoal" jdbcType="DECIMAL"/>
        <result column="status_hf_wdf" property="statusHfWdf" jdbcType="DECIMAL"/>
        <result column="status_score" property="statusScore" jdbcType="DECIMAL"/>
        <result column="newest_let_num" property="newestLetNum" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_win" property="newestLetSpWin" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_draw" property="newestLetSpDraw" jdbcType="DECIMAL"/>
        <result column="newest_let_sp_fail" property="newestLetSpFail" jdbcType="DECIMAL"/>
        <result column="newest_sp_win" property="newestSpWin" jdbcType="DECIMAL"/>
        <result column="newest_sp_draw" property="newestSpDraw" jdbcType="DECIMAL"/>
        <result column="newest_sp_fail" property="newestSpFail" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 获取让球胜平负历史SP值 -->
    <resultMap id="JczqWdfSPResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.SportDataFbWDFBO">
        <result column="sport_against_info_id" property="sportAgainstInfoId"/>
        <result column="let_num" property="letNum" jdbcType="DECIMAL"/>
        <result column="sp_win" property="spWin" jdbcType="DECIMAL"/>
        <result column="sp_draw" property="spDraw" jdbcType="DECIMAL"/>
        <result column="sp_fail" property="spFail" jdbcType="DECIMAL"/>
        <result column="sp_type" property="spType" jdbcType="DECIMAL"/>
        <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!-- 竞彩篮球对阵数据 -->
    <resultMap id="JclqResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.JclqDaoBO" extends="BaseResultMap">
        <result column="sale_date" property="saleDate" jdbcType="VARCHAR"/>
        <result column="full_score" property="fullScore" jdbcType="VARCHAR"/>
        <result column="full_wf" property="fullWf" jdbcType="VARCHAR"/>
        <result column="let_wf" property="letWf" jdbcType="VARCHAR"/>
        <result column="size_score" property="sizeScore" jdbcType="VARCHAR"/>
        <result column="win_score" property="winScore" jdbcType="VARCHAR"/>
        <result column="status_wf" property="statusWf" jdbcType="DECIMAL"/>
        <result column="status_let_wf" property="statusLetWf" jdbcType="DECIMAL"/>
        <result column="status_big_small" property="statusBigSmall" jdbcType="DECIMAL"/>
        <result column="status_score_wf" property="statusScoreWf" jdbcType="DECIMAL"/>
        <result column="newest_let_score" jdbcType="DECIMAL" property="newestLetScore"/>
        <result column="newest_let_sp_win" jdbcType="DECIMAL" property="newestLetSpWin"/>
        <result column="newest_let_sp_fail" jdbcType="DECIMAL" property="newestLetSpFail"/>
        <result column="newest_sp_win" jdbcType="DECIMAL" property="newestSpWin"/>
        <result column="newest_sp_fail" jdbcType="DECIMAL" property="newestSpFail"/>
        <result column="newest_preset_score" jdbcType="DECIMAL" property="newestPresetScore"/>
        <result column="newest_sp_big" jdbcType="DECIMAL" property="newestSpBig"/>
        <result column="newest_sp_small" jdbcType="DECIMAL" property="newestSpSmall"/>
        <result column="newest_sp_win_1_5" jdbcType="DECIMAL" property="newestSpWin15"/>
        <result column="newest_sp_win_6_10" jdbcType="DECIMAL" property="newestSpWin610"/>
        <result column="newest_sp_win_11_15" jdbcType="DECIMAL" property="newestSpWin1115"/>
        <result column="newest_sp_win_16_20" jdbcType="DECIMAL" property="newestSpWin1620"/>
        <result column="newest_sp_win_21_25" jdbcType="DECIMAL" property="newestSpWin2125"/>
        <result column="newest_sp_win_26" jdbcType="DECIMAL" property="newestSpWin26"/>
        <result column="newest_sp_fail_1_5" jdbcType="DECIMAL" property="newestSpFail15"/>
        <result column="newest_sp_fail_6_10" jdbcType="DECIMAL" property="newestSpFail610"/>
        <result column="newest_sp_fail_11_15" jdbcType="DECIMAL" property="newestSpFail1115"/>
        <result column="newest_sp_fail_16_20" jdbcType="DECIMAL" property="newestSpFail1620"/>
        <result column="newest_sp_fail_21_25" jdbcType="DECIMAL" property="newestSpFail2125"/>
        <result column="newest_sp_fail_26" jdbcType="DECIMAL" property="newestSpFail26"/>
    </resultMap>

    <!-- 竞彩足球订单详情对阵 -->
    <resultMap id="JclqOrderResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.JclqOrderBO" extends="BaseResultMap">
        <result column="first_score" property="firstScore" jdbcType="VARCHAR"/>
        <result column="second_score" property="secondScore" jdbcType="VARCHAR"/>
        <result column="third_score" property="thirdScore" jdbcType="VARCHAR"/>
        <result column="fourth_score" property="fourthScore" jdbcType="VARCHAR"/>
        <result column="out_time_score" property="outTimeScore" jdbcType="VARCHAR"/>
        <result column="full_score" property="fullScore" jdbcType="VARCHAR"/>
        <result column="full_wf" property="fullWf" jdbcType="VARCHAR"/>
        <result column="let_wf" property="letWf" jdbcType="VARCHAR"/>
        <result column="size_score" property="sizeScore" jdbcType="VARCHAR"/>
        <result column="win_score" property="winScore" jdbcType="VARCHAR"/>
        <result column="status_wf" property="statusWf" jdbcType="DECIMAL"/>
        <result column="status_let_wf" property="statusLetWf" jdbcType="DECIMAL"/>
        <result column="status_big_small" property="statusBigSmall" jdbcType="DECIMAL"/>
        <result column="status_score_wf" property="statusScoreWf" jdbcType="DECIMAL"/>
        <result column="newest_let_score" jdbcType="DECIMAL" property="newestLetScore"/>
        <result column="newest_let_sp_win" jdbcType="DECIMAL" property="newestLetSpWin"/>
        <result column="newest_let_sp_fail" jdbcType="DECIMAL" property="newestLetSpFail"/>
        <result column="newest_sp_win" jdbcType="DECIMAL" property="newestSpWin"/>
        <result column="newest_sp_fail" jdbcType="DECIMAL" property="newestSpFail"/>
    </resultMap>

    <!-- 赛事所拥有的对阵数量 -->
    <resultMap id="matchTotalResultMap" type="com.hhly.skeleton.lotto.base.sport.bo.MatchDataBO">
        <id column="id" property="id" jdbcType="DECIMAL"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 对阵列名 -->
    <sql id="SELECT_COLUMN">
        a.id,
        a.lottery_code,
        a.issue_code,
        a.sport_match_info_id,
        a.home_team_id,
        a.visiti_team_id,
        a.match_analysis_url,
        a.match_info_url,
        a.is_recommend,
        d.match_color as match_label_color,
        a.official_match_code,
        substring(a.official_match_code,1,2) as week,
        substring(a.official_match_code,3,3) as num,
        a.system_code,
        a.match_status,
        a.official_id,
        a.start_time,
        date_format(a.start_time, '%Y-%m-%d') as date,
        date_format(a.start_time, '%H:%i') as time,
        a.sale_end_time,
        a.is_neutral,
        a.is_recommend,
        a.stadium,
        a.weather,
        a.remark,
        a.odds_win,
        a.odds_draw,
        a.odds_fail,
        d.match_full_name,
        d.match_short_name,
        d.match_data_url,
        d.five_league,
        d.logo_url as matchLogo,
        a.home_name as homeFullName,
        e.team_short_name as homeShortName,
        e.team_data_url as homeDataUrl,
        e.team_order as homeOrder,
        e.logo_url as homeLogo,
        a.visiti_name as guestFullName,
        f.team_short_name as guestShortName,
        f.team_data_url as guestDataUrl,
        f.team_order as guestOrder,
        f.logo_url as guestLogo,
    </sql>

    <!-- 查询投注竞彩足球对阵以及SP值数据 -->
    <select id="findJczqData" resultMap="JczqResultMap" parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select
        <include refid="SELECT_COLUMN"/>
        date_format(a.sale_date,'%Y-%m-%d') as sale_date,
        g.full_score,
        half_score,
        let_num,
        full_spf,
        let_spf,
        score,
        goal_num,
        hf_wdf,
        status_wdf,
        status_let_wdf,
        status_goal,
        status_hf_wdf,
        status_score,
        newest_let_num,
        newest_let_sp_win,
        newest_let_sp_draw,
        newest_let_sp_fail,
        newest_sp_win,
        newest_sp_draw,
        newest_sp_fail,

        newest_sp_0_goal,
        newest_sp_1_goal,
        newest_sp_2_goal,
        newest_sp_3_goal,
        newest_sp_4_goal,
        newest_sp_5_goal,
        newest_sp_6_goal,
        newest_sp_7_goal,

        newest_sp_w_w, newest_sp_w_d, newest_sp_w_f,
        newest_sp_d_w, newest_sp_d_d, newest_sp_d_f,
        newest_sp_f_w, newest_sp_f_d, newest_sp_f_f,
        newest_sp_1_0, newest_sp_2_0, newest_sp_2_1,
        newest_sp_3_0, newest_sp_3_1, newest_sp_3_2,
        newest_sp_4_0, newest_sp_4_1, newest_sp_4_2,
        newest_sp_5_0, newest_sp_5_1, newest_sp_5_2,
        newest_sp_w_other,
        newest_sp_0_0, newest_sp_1_1, newest_sp_2_2,
        newest_sp_3_3, newest_sp_d_other,
        newest_sp_0_1, newest_sp_0_2, newest_sp_1_2,
        newest_sp_0_3, newest_sp_1_3, newest_sp_2_3,
        newest_sp_0_4, newest_sp_1_4, newest_sp_2_4,
        newest_sp_0_5, newest_sp_1_5, newest_sp_2_5,
        newest_sp_f_other
        from sport_against_info a
        inner join sport_status_fb b on a.id=b.sport_against_info_id
        inner join sport_data_fb_sp c on a.id=c.sport_against_info_id
        inner join sport_match_info d on a.sport_match_info_id=d.id and d.match_type=${matchType}
        inner join sport_team_info e on a.home_team_id=e.id and e.team_type=${matchType}
        inner join sport_team_info f on a.visiti_team_id=f.id and f.team_type=${matchType}
        left join sport_draw_fb g on a.id=g.sport_against_info_id
        where a.lottery_code=#{lotteryCode}
        <include refid="jcWhere"/>

        order by start_time ASC ,system_code asc
    </select>

    <!-- 查询当前彩期竞彩足球投注页已经截止的赛事数量 -->
    <select id="findJcSaleEndDataTotal" resultType="java.lang.Integer"
            parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select count(1) from sport_against_info
        where lottery_code=#{lotteryCode}
        and issue_code=(select issue_code from lottery_issue where lottery_code=#{lotteryCode} and current_issue=1)
        <![CDATA[ and sale_end_time <= now()
        ]]>
    </select>

    <!-- 查询当前彩期竞彩足球投注页已经截止的赛事 -->
    <select id="findJczqSaleEndData" resultMap="JczqResultMap"
            parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select
        <include refid="SELECT_COLUMN"/>
        date_format(a.sale_date,'%Y-%m-%d') as sale_date,
        g.full_score,
        half_score,
        let_num,
        full_spf,
        let_spf,
        score,
        goal_num,
        hf_wdf,
        status_wdf,
        status_let_wdf,
        status_goal,
        status_hf_wdf,
        status_score,
        newest_let_num,
        newest_let_sp_win,
        newest_let_sp_draw,
        newest_let_sp_fail,
        newest_sp_win,
        newest_sp_draw,
        newest_sp_fail,

        newest_sp_0_goal,
        newest_sp_1_goal,
        newest_sp_2_goal,
        newest_sp_3_goal,
        newest_sp_4_goal,
        newest_sp_5_goal,
        newest_sp_6_goal,
        newest_sp_7_goal,

        newest_sp_w_w, newest_sp_w_d, newest_sp_w_f,
        newest_sp_d_w, newest_sp_d_d, newest_sp_d_f,
        newest_sp_f_w, newest_sp_f_d, newest_sp_f_f,
        newest_sp_1_0, newest_sp_2_0, newest_sp_2_1,
        newest_sp_3_0, newest_sp_3_1, newest_sp_3_2,
        newest_sp_4_0, newest_sp_4_1, newest_sp_4_2,
        newest_sp_5_0, newest_sp_5_1, newest_sp_5_2,
        newest_sp_w_other,
        newest_sp_0_0, newest_sp_1_1, newest_sp_2_2,
        newest_sp_3_3, newest_sp_d_other,
        newest_sp_0_1, newest_sp_0_2, newest_sp_1_2,
        newest_sp_0_3, newest_sp_1_3, newest_sp_2_3,
        newest_sp_0_4, newest_sp_1_4, newest_sp_2_4,
        newest_sp_0_5, newest_sp_1_5, newest_sp_2_5,
        newest_sp_f_other
        from sport_against_info a
        inner join sport_status_fb b on a.id=b.sport_against_info_id
        inner join sport_data_fb_sp c on a.id=c.sport_against_info_id
        inner join sport_match_info d on a.sport_match_info_id=d.id and d.match_type=${matchType}
        inner join sport_team_info e on a.home_team_id=e.id and e.team_type=${matchType}
        inner join sport_team_info f on a.visiti_team_id=f.id and f.team_type=${matchType}
        left join sport_draw_fb g on a.id=g.sport_against_info_iD
        where a.lottery_code=#{lotteryCode}
        and a.issue_code=(select issue_code from lottery_issue where lottery_code=#{lotteryCode} and current_issue=1)
        <![CDATA[ and sale_end_time <= now()  ]]>
        order by start_time ASC ,system_code asc
    </select>

    <sql id="jcWhere">
        <if test="issueCode == null or issueCode == ''">
            and a.match_status=#{matchStatus}
            and match_status!=10
            <![CDATA[ and sale_end_time >= now()  ]]>
        </if>
        <if test="issueCode != null and issueCode != ''">
            and a.issue_code=#{issueCode}
        </if>
    </sql>

    <!-- 查询比赛场次 -->
    <select id="findMatchTotal" resultMap="matchTotalResultMap" parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select a.sport_match_info_id as id,count(1) as total
        from sport_against_info a
        where a.lottery_code=#{lotteryCode}
        <include refid="jcWhere"/>
        group by sport_match_info_id
    </select>

    <!-- 查询竞彩篮球历史SP值Where 语句 -->
    <sql id="Jclq_Where_History_Sp">
        where sport_against_info_id = #{sportAgainstInfoId}
        order by release_time desc
    </sql>

    <!-- 竞彩篮球对阵列 -->
    <sql id="jclq_column">
        date_format(a.sale_date,'%Y-%m-%d') as sale_date,
        g.full_score,
        g.full_wf,
        g.let_wf,
        g.size_score,
        g.win_score,
        status_wf,
        status_let_wf,
        status_big_small,
        status_score_wf,
        newest_let_score,
        newest_let_sp_win,
        newest_let_sp_fail,
        newest_sp_win,
        newest_sp_fail,
        newest_preset_score,
        newest_sp_big,
        newest_sp_small,
        newest_sp_win_1_5,
        newest_sp_win_6_10,
        newest_sp_win_11_15,
        newest_sp_win_16_20,
        newest_sp_win_21_25,
        newest_sp_win_26,
        newest_sp_fail_1_5,
        newest_sp_fail_6_10,
        newest_sp_fail_11_15,
        newest_sp_fail_16_20,
        newest_sp_fail_21_25,
        newest_sp_fail_26
    </sql>


    <!-- 查询竞彩篮球对阵数据 -->
    <select id="findJclqData" resultMap="JclqResultMap" parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select
        <include refid="SELECT_COLUMN"/>
        <include refid="jclq_column"/>
        from sport_against_info a
        inner join sport_status_bb b on a.id=b.sport_against_info_id
        inner join sport_data_bb_sp c on a.id=c.sport_against_info_id
        inner join sport_match_info d on a.sport_match_info_id=d.id and d.match_type = ${matchType}
        inner join sport_team_info e on a.home_team_id=e.id and e.team_type = ${matchType}
        inner join sport_team_info f on a.visiti_team_id=f.id and f.team_type = ${matchType}
        left join sport_draw_bb g on a.id=g.sport_against_info_id
        where a.lottery_code = #{lotteryCode}

        <include refid="jcWhere"/>
        order by start_time ASC ,system_code asc
    </select>


    <!-- 查询竞彩篮球销售截止对阵数据 -->
    <select id="findJclqSaleEndData" resultMap="JclqResultMap" parameterType="com.hhly.skeleton.lotto.base.sport.vo.JcParamVO">
        select
        <include refid="SELECT_COLUMN"/>
        <include refid="jclq_column"/>
        from sport_against_info a
        inner join sport_status_bb b on a.id=b.sport_against_info_id
        inner join sport_match_info d on a.sport_match_info_id=d.id and d.match_type = ${matchType}
        inner join sport_team_info e on a.home_team_id=e.id and e.team_type = ${matchType}
        inner join sport_team_info f on a.visiti_team_id=f.id and f.team_type = ${matchType}
        left join sport_draw_bb g on a.id=g.sport_against_info_id
        where a.lottery_code=#{lotteryCode}
        and a.issue_code=(select issue_code from lottery_issue where lottery_code=#{lotteryCode} and current_issue=1)
        <![CDATA[ and sale_end_time <= now()  ]]>
        order by a.system_code
    </select>

</mapper>