<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.commoncore.persistence.dic.dao.DicDataDetailDaoMapper" >
  
  <sql id="sql_statement_all">
	  	select ID             id,
		       DIC_CODE       dicCode,
		       DIC_DATA_NAME  dicDataName,
		       DIC_DATA_VALUE dicDataValue,
		       IS_FIXED       isFixed,
		       `STATUS`         `status`,
		       ORDER_BY       orderBy,
		       UPDATE_TIME    updateTime,
		       CREATE_TIME    createTime
		  from DIC_DATA_DETAIL
  </sql>
  <sql id="sql_condition_all">
  		where 1 = 1
  		<if test="id != null">
  			and ID = #{id,jdbcType=INTEGER}
  		</if>
  		<if test="dicCode != null and dicCode !=''">
  			and DIC_CODE = #{dicCode,jdbcType=VARCHAR}
  		</if>
  		<if test="dicDataName != null and dicDataName != ''">
  			and DIC_DATA_NAME = #{dicDataName,jdbcType=VARCHAR}
  		</if>
  		<if test="dicDataValue != null and dicDataValue != ''">
  			and DIC_DATA_VALUE = #{dicDataValue,jdbcType=VARCHAR}
  		</if>
  </sql>
  
  <select id="findSimple" resultType="com.hhly.skeleton.lotto.base.dic.bo.DicDataDetailBO">
  	 select
  	     DIC_CODE dicCode,
	     DIC_DATA_NAME dicDataName, 
	     DIC_DATA_VALUE dicDataValue
	   from 
	   DIC_DATA_DETAIL
	   where DIC_CODE = #{code}
       and `STATUS` = 1
	   order by ORDER_BY
  </select>
  
  <!-- 查询单条 -->
  <select id="findSingle" parameterType="com.hhly.skeleton.lotto.base.dic.vo.DicDataDetailVO" 
  							resultType="com.hhly.skeleton.lotto.base.dic.bo.DicDataDetailBO">
		<include refid="sql_statement_all" />
		<include refid="sql_condition_all" />
		limit 1
  </select>

</mapper>